* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 70px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* LEFT search icon */
.nav-left i {
    font-size: 22px;
    color: black;
    cursor: pointer;
}

/* TITLE center */
.nav-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    flex: 1;
    margin-left: 20px;
    letter-spacing: 1px;
}
 

/* RIGHT logo square */
.nav-right img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 0; /* Square */
}
/* Hide search box initially */
#searchBox {
    display: none;
    width: 200px;
    height: 34px;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
}

/* Show search box when active class is added */
#searchBox.active {
    display: inline-block;
}

